<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>lp.scampf</string>
	<key>CFBundleGetInfoString</key>
	<string>2.0.4 Copyright 2001-06 Peter Castine, Part of Litter Power 1.7 (All Bundles)</string>
	<key>CFBundleIdentifier</key>
	<string>de.castine.lp.scampf</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>iLaX</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.4</string>
	<key>CFBundleSignature</key>
	<string>max2</string>
	<key>CFBundleVersion</key>
	<string>2.0.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
